﻿/*CSS for styling index.html and locationAvailability.php*/
form {
    font: 100% Arial, Helvetica, sans-serif;
    font-weight: bold;
    max-width: 600px;
    margin: 100px auto;
    padding: 50px;
    border: 1px solid black;
    text-align: center;
    background: #F7F7F7;
}

button {
    padding: 10px;
    background: #0094ff;
}

table {
    margin: 0 auto;
    font-size: large;
    border: 1px solid black;
}

h1 {
    text-align: center;
    color: #006600;
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', ' Calibri', 'Trebuchet MS', 'sans-serif';
}

td {
    background-color: #E4F5D4;
    border: 1px solid black;
}

th,
td {
    font-weight: bold;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

td {
    font-weight: lighter;
}
